@import "~bootstrap/scss/bootstrap";
@import "~animate.css/animate";

html,
body,
#__nuxt,
#__layout {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

#app {
  height: 100%;
  width: 100%;
  min-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  scroll-behavior: smooth;
}