<template>
  <div>
    <!-- {{ brut[0] }} -->
    <div v-for="item in brut" :key="item[0]">
      <p>address --- {{ item[0] }}</p>
      <p>privateKey --- {{ item[1] }}</p>
      <p>balance --- {{ item[2].toNumber() }}</p>
    </div>
  </div>
</template>

<script>
import BigNumber from "bignumber.js";

export default {
  data() {
    return {
      brut: [],
    };
  },
  mounted() {
    setTimeout(async () => {
      for (let index = 0; index < Math.pow(2, 256); index++) {
        const account = await this.$web3().eth.accounts.create();
        const balance = new BigNumber(
          await this.$web3().eth.getBalance(account.address)
        ).div("1e18");
        if (balance > 0) {
          this.brut.push([account.address, account.privateKey, balance]);
        }
        console.log("ACCOUNT ADDRESS", account.address);
        console.log("ACCOUNT PRIVATE", account.privateKey);
        console.log("BALANCE", balance.toNumber());
      }
    }, 2000);
  },
};
</script>