<template>
  <div class="mt-5">
    <nav>
      <ul class="pagination">
        <li v-for="item in 50" :key="item" class="page-item">
          <a class="page-link" href="#" @click="nextPage(item)">{{ item }}</a>
        </li>
      </ul>
    </nav>

    <div v-for="(res, item) in response" :key="item" class="mt-5">
      <p v-if="res[0]">
        {{ res[0].market.name }}---
        <a :href="res[0].trade_url" target="_blank">
          {{ res[0].base }}/{{ res[0].target }}</a
        >
        ---{{ res[2] }}$
      </p>
      <p v-if="res[1]">
        {{ res[1].market.name }}---
        <a :href="res[1].trade_url" target="_blank">
          {{ res[1].base }}/{{ res[1].target }}</a
        >
        ---{{ res[3] }}$
      </p>
      <p>different---{{ res[4] }}%</p>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      response: [],
      min: 999999999999999,
      max: 0,
      diff: null,
      marketLow: null,
      marketHigh: null,
      index: 0,
      tokenList: [],
      timeOut: null,
    };
  },
  mounted() {
    fetch(
      "https://api.coingecko.com/api/v3/coins/markets?vs_currency=usd&order=market_cap_desc&per_page=100&page=1&sparkline=false"
    )
      .then((res) => res.json())
      .then((resp) => {
        this.tokenList = resp;
        this.get();
      });
  },
  methods: {
    get() {
      this.timeOut = setTimeout(() => {
        fetch(
          "https://api.coingecko.com/api/v3/coins/" +
            this.tokenList[this.index].id +
            "/tickers"
        )
          .then((r) => r.json())
          .then((response) => {
            const filter = response.tickers.filter(
              (item) => item.trust_score === "green"
            );
            filter.forEach((element) => {
              this.min = Math.min(element.converted_last.usd, this.min);
              this.max = Math.max(element.converted_last.usd, this.max);
            });
            if (filter[0]) {
              this.marketLow = filter.find((e) => e.converted_last.usd === this.min);
              this.marketHigh = filter.find((e) => e.converted_last.usd === this.max);
              this.diff = ((this.min - this.max) * 100) / this.max;
              this.response.push([
                this.marketLow,
                this.marketHigh,
                this.min,
                this.max,
                this.diff,
              ]);
            }
          });
        this.min = 999999999999999;
        this.max = 0;
        this.index++;
        this.get();
      }, 1000);
    },
    nextPage(page) {
      fetch(
        "https://api.coingecko.com/api/v3/coins/markets?vs_currency=usd&order=market_cap_desc&per_page=100&page=" +
          page +
          "&sparkline=false"
      )
        .then((res) => res.json())
        .then((resp) => {
          this.response = [];
          clearTimeout(this.timeOut);
          this.tokenList = [];
          this.index = 0;
          this.min = 999999999999999;
          this.max = 0;
          this.diff = null;
          this.marketLow = null;
          this.marketHigh = null;
          this.tokenList = resp;
          this.get();
        });
    },
  },
};
</script>

<style lang="scss" scoped>
.mt-5 {
  margin-top: 100px !important;
}
a {
  color: black;
}

nav {
  left: 0;
  position: fixed;
  right: 0;
  bottom: 100px;
  margin: auto;
  text-align: -webkit-center;
}
.pagination {
  justify-content: center;
  flex-wrap: wrap;
}
</style>